.btn {
  padding: 2% 5%;
  background: var(--c-two);
  width: 20%;
  min-width: 100px;
  max-width: 200px;
  text-align: center;
  text-decoration: none;
  color: var(--c-three);
  font-size: 0.9rem;
  border-radius: 10px;
}
