.btn {
  padding: 1% 4%;
  background: var(--c-two);
  width: 10%;
  min-width: 95px;
  max-width: 100px;
  text-align: center;
  text-decoration: none;
  color: var(--c-three);
  font-size: 0.9rem;
  border-radius: 10px;
}
