.mcontent {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:nth-child(2) {
    background: var(--c-four);

    @media screen and (min-width: $large) {
      flex-direction: row;
      padding-right: 0;
    }
  }

  &__title {
    color: var(--c-one);
    margin-top: 0;
    margin-bottom: 4%;
  }

  @media screen and (min-width: $large) {
    padding: 2.5%;
  }

}
