.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--c-one);
  position: fixed;
  width: 100%;
  padding: 2%;
  border-bottom: 1px solid var(--c-three);

  &__logo {
    margin-left: 4%;
  }

  &__list {
    list-style: none;
    display: none;

    @media screen and (min-width: $large) {
      display: flex;
      justify-content: space-around;
      width: 30%;
    }
  }

  &__link {
    color: var(--c-three);
    text-decoration: none;
  }

  @media screen and (min-width: $large) {
    padding: 1%;
  }
}
